.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 100%;
    row-gap: 2rem;
  }
.change {
    background-color: #3498db;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .change:hover {
    background-color: #2980b9;
  }
  
  .change[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }

 