/* styles.css */

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  label {
    font-weight: bold;
    position: absolute;
    top: 0px; /* Adjust this value to position the label above the input */
    left: 10px; /* Adjust this value for left padding */
    transition: transform 0.3s, font-size 0.3s, top 0.3s;
    transform-origin: left;
    font-size: 16px;
    pointer-events: none;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input:focus,
  textarea:focus {
    border-color: #007bff;
    
  }
  
  input:focus + label,
  textarea:focus + label,
  input:not(:placeholder-shown) + label,
  textarea:not(:placeholder-shown) + label {
    top: -10px; /* Adjust this value to position the label above the input */
    left: 10px; /* Adjust this value for left padding */
    transform: scale(0.75); /* Adjust this value for label size */
    font-size: 12px; /* Adjust this value for label size */
  }
  